*{
	padding: 0px;
	margin: 0px;
}
html{
	scroll-behavior: smooth;
}
body{
	font-size: 14px;
	line-height: 1.7em;
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
		font-family: 'Montserrat', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
.header{
	width: 100%;
}
.header .navbar-nav .nav-item .nav-link{
			font-size: 14px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #28377e;
			margin: 0px 0px 0px 25px;
}
.header .navbar-nav .nav-item .nav-link:hover, .header .navbar-nav .nav-item .nav-link:focus{
		color: #f1602b;
}

.slider{
	width: 100%;
	padding: 120px 0px;
	background: url("../images/slider.png") center top no-repeat;
	background-size: cover;
	text-align: center;
}

.inner-slider{
	width: 100%;
	padding: 80px 0px 0px;
}
.inner-slider h1{
	font-size: 62px;
	font-weight: 700;
	line-height: 1.2em;
	color: #fff;
	text-transform: uppercase;
}

.arrow{
	width: 100%;
	padding: 180px 0px 0px;
}
.who-we{
	width: 100%;
	padding: 80px 0px;
}

.title{
   width: 100%;
   padding: 0px 0px 20px;
}
.title h2{
	font-size: 36px;
	font-weight: 600;
	line-height: 1.2em;
	color: #28377e;
	text-transform: uppercase;
}
.who-we .title{
	margin: 50px 0px 0px;
}
.who-we p{
	font-size: 14px;
	line-height: 1.7em;
	color: #b0b0b1;
}
.what-we-do{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/whatwe1.png") center top no-repeat;
	background-size: cover;
}
.what-we-do .title{
	text-align: center;
	padding: 0px 0px 80px;
}
.what-we-do .card{
	border-radius: 0px;
	border: none;
}
.what-we-do .card .card-img-overlay{
	text-align: center;

}

.what-we-do .card .card-img-overlay .card-title{
	position: absolute;
	width: 90%;
	top: 50%;
	left: 5%;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
}
.what-we-do .card .card-img-overlay .arrow-long{
		position: absolute;
		bottom: 15%;
		left: 45%;
}

.our-attorney{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/atbg1.png") center top no-repeat;
	background-size: cover;
}
.our-attorney .title{
	margin: 100px 0px 0px;

}
.our-attorney .title h2{
	color: #fff;
}
.our-attorney p{
	font-size: 14px;
	line-height: 1.7em;
	color: #fff;
}
.our-attorney .at-btn{
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color: #f1602b;
	letter-spacing: 1px;
}
.our-attorney .at-btn:hover{
	color: #fff;
}
.our-attorney .card{
	border-radius: 0px;
	border: none;
	margin: 0px 0px 25px;
}
.our-attorney .card-img{
	border-radius: 0px;
}
.our-attorney .card .card-img-overlay{
	text-align: center;

}

.our-attorney .card .card-img-overlay .card-title{
	position: absolute;
	width: 90%;
	text-align: left;
	bottom: 10%;
	left: 10%;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.6em;
}



.languages{
	text-align: center;
	width: 100%;
	margin: 0px 0px 60px;

}
.languages h3{
	font-size: 36px;
	font-weight: 600;
	line-height: 1.2em;
	color: #28377e;
	text-transform: uppercase;
	margin: 10px 0px 40px;

}
.languages img{
		margin: 100px 0px 5px;
}
.languages .title h3{
	font-size: 30px;
	font-weight: 400;
	line-height: 1.2em;
	text-transform: uppercase;
	margin: 20px 0px;
	text-align: left;

}
.languages p{
	font-size: 14px;
	line-height: 1.7em;
	text-align: left; 
}

.languages .at-btn{
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color: #28377e;
	letter-spacing: 1px;

}
.languages .at-btn:hover{
	color: #f1602b;
}
.contact{
	width: 100%;
	padding: 80px 0px;
	background: url("../images/bgcon.png") center top no-repeat;
	background-size: cover;
	text-align: center;
}

.contact-form .form-control{
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
	padding: 0px;
	border-bottom: 1px solid #08c;
	background: transparent;
	padding: 20px 0px 0px;


}
.contact-form .form-control.txt{
	color: #fff;
}
.contact-form .form-control:focus{
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
	padding: 0px;
	border-bottom: 1px solid #000;
	box-shadow: none;

}
.contact h2{
	font-size: 36px;
	font-weight: 500;
	line-height: 1.2em;
	color: #fff;
	text-transform: uppercase;
}

.contact .at-btn{
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	letter-spacing: 1px;
	background: url("../images/butt.png") center top no-repeat;
	background-size: cover;
	padding: 10px 20px;
	margin: 25px 0px ;

}
.contact .at-btn:hover{
	background: transparent;
}

.footer{
	background-color: #0c1234;
	padding: 30px 0px;

}
.footer p{
	font-size: 14px;
	line-height: 1.7em;
	color: #616ca8;
}